@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');



:root {
  --primary-color: #00a5dd !important;
}

body {
  background-color: #f7f8fa;
  color: #7a7c89;
  font-size: 95% !important;
}

a {
  text-decoration: none;
}


img {
  width: 100%;
  object-fit: contain;
}

ul {
  list-style: none;
  padding: 0;
}

.loader-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  width: 100px;
  height: 100px;
  border: 7px solid rgb(225, 229, 233);
  border-bottom-color: #4f65f1;
  border-top-color: #4f65f1;
  border-radius: 50%;
  -webkit-animation: loading .9s linear infinite; /* Safari */
  animation: loading .9s linear infinite;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  } 
  100%{
    transform: rotate(365deg);
  }
}

.header {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  background: #fff;
}



.header img {
  width: 40px;
  height: 40px;
}
.header .site-logo{
  animation: dropdown 1s ease-in 2s;
}

@keyframes dropdown {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.header .site-logo span {
  font-weight: 700;
  color: rgba(4, 8, 26, 0.76);
  font-size: 1.5rem;
  font-family: "DM Sans";
}

.header .site-logo .text-alt {
  color: var(--primary-color);
}

.header .navbar-nav a {
  font-weight: 800;
  color: #4b587c;
  font-family: "DM Sans";
  font-size: 18px;
}

.header .linkden{
  align-items: center;
    background-color: #4f65f1;
    background-image: linear-gradient(90deg,#05648e,#02a0e7, #3ca2d0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    margin-right: 6px;
    padding: 25px;
    transition: all .25s ease 0s;
    white-space: nowrap;
    color: white !important;
}


.header .btn i {
  vertical-align: bottom;
  margin-left: 5px;
}


/* BANNER */

.banner {
  padding: 6rem 0px;
  background-color: white;
}

.banner .btn-hire {
  background-image: linear-gradient(90deg,#05648e,#02a0e7, #3ca2d0);
  color: white;
  border-radius: 15px;
  font-size: 20px;
  font-family: "DM Sans";
  font-weight: 600;
  border: 1px solid #bddbeb;
}

.banner .btn-hire i {
  vertical-align: bottom;
  margin-left: 10px;
}

.banner h1 {
  font-weight: 800;
  font-size: 3.5rem;
  font-family: "DM Sans", sans-serif;
  color: var(--primary-color);
}

.banner p {
  color: rgb(75, 88, 124);
  line-height: 1.7;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans";
}
.banner span.hand{
  animation: shaking 6s ease-in-out infinite;
}

@keyframes shaking {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(45deg);
  }
}

.banner img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* transform: rotate(12deg); */
  object-fit: cover;
  border: 15px solid rgb(219 229 234);
  outline: rgb(158 225 255) solid 15px;
  padding: 20px;
  animation: scale 1.7s ease-out 2s;
}

@keyframes scale {
  0%{
    transform: scale(0.2);
  }
  100%{
    transform: scale(1);
  }
}

/* SKILLS STYLES */
.skills .skill{
  opacity: 0;
  transform: scale(0) translateX(-50px);
  transition: all 1s ease-in-out;
}
.skills .skill.active{
  opacity: 1;
  transform: scale(1) translateX(0px);
}
.skills .card-shadow {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 10px;
  position: relative;
}

.skills .tech-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--primary-color);
  line-height: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
  left: calc(50%);
  top: -40px;
}

.skills .tech-icon img {
  width: 50px;
  height: 50px;
}

.skills .card-shadow h4 {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.3rem;
  margin-top: 3rem;
  color: rgb(55 64 68);
  font-family: "Open Sans";
  color: #4b587c;
  font-size: 19px;
  font-weight: 600;
}

.skills .fa-check {
  color: var(--primary-color);
}

.skills li {
  margin-top: 15px;
}
.skills li span:last-child{
  color: #4b587c;
  line-height: 1.7;
  font-size: 18px;
}

/*IMPORTANT STYLES */
.about,
.skills,
.services,
.projects,
.contact {
  padding: 6rem 0;
}

.about h1,
.skills h1,
.services h1,
.projects h1,
.contact h1 {
  font-family: "DM Sans";
  color: #4b587c;
  font-size: 30px;
  font-weight: 900 !important;
}

.btn-hire {
  color: white;
  background-color: var(--primary-color);
  padding: 15px 3rem;
  font-family: "";
  font-size: 17px;
  border-radius: 30px;
}

.btn:hover {
  background-color: #5760df;
  color: white !important;
}


/* ABOUT STYLES */
.about {
  padding-top: 2rem;
  background-color: white;
}

.about p{
  color: rgb(75, 88, 124);
  line-height: 1.7;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans";
}


.about .resume button {
  background-color: #f2877e;
  padding: 20px;
  font-family: "DM Sans";
  font-size: 19px;
  border-radius: 20px;
  font-weight: 600;
  color: white;
}



/* SERVICES STYLES */

.services {}

.services .service-inner {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 0.625rem #34383c0f, 0 0.125rem 0.25rem #34383c14;
  opacity: 0;
  transform: scale(0);
  transition: all 0.8s ease-in-out;
}

.services .service-inner.active{
  opacity: 1;
  transform: scale(1);
}




.services .service-inner.front-end{
  border-left: 5px solid #e7643e;
}
.services .service-inner.back-end{
  border-left: 5px solid #35cef5;
}
.services .service-inner.full-stack{
  border-left: 5px solid #f5ab35;
}
.services h4 {
  font-family: "Open Sans";
  color: #4b587c;
  font-size: 19px;
  font-weight: 600;
}
.services p{
  color: rgb(75, 88, 124);
  line-height: 1.7;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans";
}



/* PROJECT STYLES */
.projects {
  background-color: white;
}

.projects h4 {
  margin-top: 20px;
  font-size: 19px;
  color: #1d2021;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
  transition: all 1s ease-in-out;
  color: #4b587c;
  font-size: 19px;
  font-weight: 600;
}

.projects h5 {
  font-weight: 300;
  font-size: 17px;
}

.projects .project {
  box-shadow: 1px 0px 5px 3px rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.projects .project{
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.projects .project.active{
  opacity: 1;
  transform: scale(1);
}


.projects .project:hover h4 {
  text-decoration: underline;
}

.projects .project-details {
  padding: 1rem;
}

.projects .project-tools span {
  display: inline-block;
  background-color: transparent;
  padding: 5px 10px;
  margin-right: 10px;
  color: #798b97;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid;
  line-height: 5px;
}

.projects .project-controls {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects .project-controls a {
  border-radius: 20px;
  padding: 7px 20px;
  border: none;
  font-family: "DM Sans";
  color: white;
}

.projects .project-controls a i {
  margin-left: 10px;
}

.projects .project-controls a:first-child {
  background-color: #d64254;
}

.projects .project-controls a:last-child {
  background-color: rgb(54 104 214);
}

/* CONTACT STYLES */

.contact {}

.contact label{
  color: rgb(75, 88, 124);
  line-height: 1.7;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans";
}
.contact .form-group {
  margin-top: 20px;
}
.contact .form-control{
  border-radius: 0;
}
.contact .form-control:focus{
  box-shadow: 0 !important;
  outline: 0 !important;
}

.contact .submit-btn {
  padding: 20px;
  font-family: "DM Sans";
  font-size: 19px;
  border-radius: 20px;
  font-weight: 600;
  color: white;
  margin-top: 30px;
}


/* FOOTER STYLES */

.footer {
  display: flex;
  height: 60px;
  background-color: #5a627c;
}

.footer .footer-details {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.footer ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 !important;
}

.footer ul li {
  margin: 0px 20px
}

.footer ul a {
  color: #effbff;
}

.footer ul a i {
  font-size: 2rem;
}

@media(max-width: 778px) {

  .banner {
    text-align: center;
  }

  .banner-content{
    margin-top: 20px;
  }

  .banner img {
    width: 200px;
    height: 200px;
    border: 10px solid rgb(219 229 234);
    outline: rgb(152 150 161 / 83%) solid 10px;
    display: none;

  }

  .skills .card-shadow{
    margin-bottom: 30px;
  }

  .services h4{
    font-size: 15px;
  }
}


